<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>表单提交  动脑学院作业</title>
    <link rel="stylesheet" href="css/master.css"/>
</head>
<body>
    <div class="wrapper">
        <div class="title">注册中心
            <span class="title-status"><a href="/photo">返回相册</a></span>
        </div>
        <form class="form" enctype="multipart/form-data"  action="/dopost" method="post">
            <ul>
                <li><input type="text" name="username" placeholder="请输入您的名字" class="txt"/></li>
                <li><input type="text" name="dirname" placeholder="请输入您需要设置的文件夹名字" class="txt"/></li>
                <li><input type="file" name="photo"/></li>
                <li><input type="submit" placeholder="" class="btn"/></li>
            </ul>
            <div class="cl"></div>
        </form>
    </div>
</body>
</html>